@font-face {
  font-family: "Overpass";
  font-weight: normal;
  src: url("../fonts/overpass/Overpass-Regular.ttf");
}


@font-face {
  font-family: "Overpass";
  font-weight: light;
  src: url("../fonts/overpass/Overpass-Light.ttf");
}

@font-face {
  font-family: "Overpass";
  font-weight: thin;
  src: url("../fonts/overpass/Overpass-Thin.ttf");
}

