
a {
  overflow:  hidden;
  text-decoration: none;
  color:  #555;
}

div, section, img {
  margin:  0;
  padding:  0;
}

::-webkit-input-placeholder { /* Chrome */
  color: #ddd;
}

input.search, input.fuzzy-search {
  background: transparent;
  color: #eee;
  position: fixed;
  border: none;
  outline: none;
  width: 25vh;
  top: 4vh;
  font-size:  2.1vh;
  padding:  0.4vh;
  margin:  0;
  font-weight: 300;
  transform: translateY(-50%);
  border-bottom: solid thin #ddd;
  z-index: 1001;
}

input.search { right: 5.5vh; }
input.fuzzy-search { right: 33.5vh; }


div.row-head { border-bottom: solid medium darkgreen; }

div.row-head-prop,
div.row-head-id,
div.row-head-freq,
div.row-head-word { 
  text-align: center; 
  cursor: pointer;
}

div.topic-row, div.row-head {
  width:  90vw;
  margin:  0 5vw;
  display: flex;
  align-items: center;
}

div.topic-row { padding:  2vw 0; }

div.row-head-id,
div.topic-row div.topic-id {
  display: inline-block;
  text-align: center;
  width: 6vw;
}

div.row-head-freq,
div.topic-row img.topic-freq {
  width: 14vw;
  object-fit: contain;
}

div.row-head-word { width: 55vw; }
div.topic-row div.topic-word {
  width: 50vw;
  object-fit: contain;
  padding: 0 2.5vw;
}

div.row-head-prop { width: 15vw; }
div.topic-row div.topic-prop {
  text-align: right;
  width:  4vw;
  padding: 0 0 0 1vw;
}

div.topic-row div.topic-bar {
  width: 7vw;
  float: right;
  padding: 1vw;
}


div.topic-bar div.topic-subbar {
  float: right;
  background: darkgreen;
  height: 2vw;
}


div.topic-string {
  display:  none;
}

div.row-head { border-bottom: solid medium darkgreen; }

div.topic-mean,
div.topic-subprop { display: none; }


div.topic-row a {
  display:  inline-block;
  padding: 0.1vw 0.3vw;
  width: 5.6vw;
  height:  100%;
}

div.topic-row:hover a {
  color:  white;
}

div.topic-word a:hover {
  background: white;
  color: darkgreen;
}

a div.topic-row:hover {
  background: darkgreen;
  color: white;
}

div.topic-row:hover div.topic-subbar {
  background: white;
}


div.topic-row:hover img.topic-freq {
  -webkit-filter: brightness(255);
  filter: brightness(255)
}