::selection {
  background: #ddd; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #ddd; /* Gecko Browsers */
}

html, body {
  margin: 0;
  padding: 0;
  font-family: "Overpass";
  min-width: 50em;
  width: 100%;

}

div, section, tr, td, th {
  /*/ border: solid thin; /**/
}

/* THE HEADER */

section.head {
  font-weight: thin;
  z-index: 1;
  position: fixed;

  background: white;
  width: 100%;
  height: 3em;
  padding: 1em;
  box-shadow: 0 2px 1px 1px #ddd;
}

section.head > div.circle {

  display: inline-block;
  position: absolute;
  top: 50%;
  transform: translate(1.5em, -50%);
  
  width: 2em;
  height: 2em;
  border-radius: 2em;
  background: #ffffaa;


}
section.head > div.title {
  font-family: "Overpass";
  font-weight: thin;
  display: inline-block;
  position: absolute;
  top: 50%;
  
  font-size: 150%;
  letter-spacing: 0.3em;
  display: inline-block;
  transform: translate(3em, -50%);

}


/* LOADING ICONS */
section.background {
  z-index: -1;
  position: fixed;
  height: 100%;
  width: 100%;
  background: url("../img/loading.gif");
  background-repeat: no-repeat;
  background-position: center;
}

section.loading-text {
  font-size: 300%;  
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1em 7em;
  letter-spacing: 0.7em;
  background: rgba(255, 255, 255, 0.7)
}


/* THE TOP BAR */

div.top-bar {
  text-align: right;
  padding: 1em;
  top: 0;
  right: 0;
  position: fixed;
  z-index: 3;

}

input.fuzzy-search, input.search {
  font-family: "Overpass";
  font-weight: light;
  outline: none;
  display: inline-block;
  padding: 0 0.3em;
  margin: 0 1em;
  font-size: 150%;
  width: 15vw;
  border: none;
  border-bottom: solid thin #ddd;
}

/* THE CONTENT */

section.body {
  padding: 6em 0;
  width: 100%;
  overflow: scroll;
}
table {
  border-collapse:collapse;

}

td {
  vertical-align: middle;
}

tr, th, td {
  padding: 1em;
  position:relative;
  border-bottom: solid thin #ddd;
}

td.topic-graph {
  text-align: center;
}


div.topic-wrapper {
  padding: 0 5%;
  font-weight: normal;
  overflow: scroll;
  opacity: 0;
}


/* INFORMATION IN LISTED TOPICS */

th.topic-header {
  cursor: pointer;
}