a {
    text-decoration:  none;
    color:  #444;
}

div {
  /*/ border: solid thin; /**/
}
div.proportion {
    width: 99vw;
    height: 9vh;
    /*background: repeating-linear-gradient(45deg, #606dbc, #606dbc 10px, #465298 10px, #465298 20px);*/
}

h.topic-id {
    display:  inline-block;
    font-size: 2.5vw;
    line-height: 9vh;
    padding: 0 3vh;
}

input.convert-scale {
    display: inline-block;
    float: right;
}

svg.topic-plot {
    display:  inline-block;
    width: 100%;
    height:  30vw;
}


div.left {
    position: absolute;
    left: 0;
    width:  25vw;
}
div.middle {
    position: absolute;
    left:  25vw;
    width:  50vw;
}

rect.fore {
    fill: darkgreen;
}

rect.back {
    fill:  transparent;
}

rect.back:hover {
    fill: green;
    opacity: 0.3;
}


div.topic-doc {
    display: flex;
    align-items: center;
}

div.doc-name {
    display:  inline-block;
    width:  23vw;
    padding: 1vh 1vw;
}

div.doc-count {
    display:  inline-block;
    width:  3vw;
    padding: 1vh 1vw;
    text-align: center;
}

div.doc-date {
    display:  inline-block;
    width:  5.5vw;
    text-align: center;
    padding: 1vh 1vw;
}


div.doc-bar {
    padding: 1vw;
    width:  6.5vw;
    height: 1.3vw;
}


div.doc-subbar {
    float:  right;
    height: 100%;
    background:  green;
}


div.doc-prop {
    display:  inline-block;
    width:  4vw;
    text-align: center;
}

div.doc-year, div.doc-hidd-prop {
    display: none;
}

div.head {
    border-bottom: solid medium green;
}

div.head div.head-count,
div.head div.head-date,
div.head div.head-name,
div.head div.head-prop {
    display: inline-block;
    text-align: center;
    cursor: pointer;
}

div.head div.head-count { width: 5vw; }
div.head div.head-date { width: 7.5vw; }
div.head div.head-name { width: 25vw; }
div.head div.head-prop { width: 12.5vw; }



a div.topic-doc:hover {
  background: green;
  color: white;
}

div.topic-doc:hover div.doc-subbar {
  background: white;
}







div.word {
    padding: 1.5vw 2vw;
    display: flex;
    align-items: center;
}

div.word-text {
    display: inline-block;
    width:  7vw;
    padding-right: 1vw;
    text-align: right
}


div.word-prop {
    display: inline-block;
    width:  4vw;
}

div.word-bar {
    display: inline-block;
    width: 9vw;
}


div.word-subbar {
    background:  green;
    display: inline-block;
    float:  right;
    height: 1.5vw;
}
div.word:hover a {
  color:  white;
}




a div.word:hover {
  background: green;
  color: white;
}

div.word:hover div.word-subbar {
  background: white;
}

