

div.word-graph {
    position: absolute;
    width:  60vw;
    padding: 5vh 5vw;
    top: 8vh;
    height:  70vh;
}

div.right {
    position: absolute;
    right: 0vw;
    width: 25vw;
    height:  92vh;
    top:  8vh;
    border: solid thin;
}
