<div>
  <br><br>
  <section class="top row ml-3 mr-3">
    <section class="col-8"></section>
    <section class="shown col-4 p-5">
      <div 
        v-for="item in shown"
        class="card btn btn-outline-secondary pl-5 pt-1 pb-1 mb-3 text-left"
        v-on:click="app.del(item.text)">
          {{ item.text }}
      </div>
    </section>

    <section class="top position-fixed col-8">
      <br><br>
      <section class="row col-12 vertical-align p-5">
        <li v-if="normalized" class="col-9">
          keywords per 10,000
        </li><li v-else class="col-9">
          keywords count
        </li>
        <button 
          v-if="normalized"
          onclick="app.renormalize()"
          class="btn button col-3 d-inline-block pointer">
          as frequency
        </button><button 
          v-else
          onclick="app.renormalize()"
          class="btn button col-3 d-inline-block pointer">
          as proportion
        </button>
      </section>
      <div class="p-3 col-12"><div id="chart"></div></div>
    </section>


  </section>
  <section class="header container-fluid jumbotron m-0 p-3 vertical-align text-center row">
    <div class="col-3">The British Hansard</div>
    <div class="col-5"></div>
    <div class="col-4 pl-5 pr-5">
      <input
        type="text"
        id="search"
        autocomplete="off"
        class="search form-control pl-4"
        placeholder="search"
        v-model="search"
        @change="app.search()"
        @input="app.search()"
        @keypress="app.search()"
        @keyup.enter="app.add()">
      <div class="hits position-fixed border mh-50 col-3 p-0 text-left">
        <div 
          v-for="item in hits"
          v-on:click="app.addword(item.text)"
          class="hit pl-5 pt-2 pb-2">
          {{ item.text }}
        </div>
      </div>
    </div>
  </section>
</div>