
.border {
    border: solid thin black;
}

.no-dec, .no-dec:hover {
    text-decoration: none;
    color: black;
    outline: none;
}


.choice > a {
    color: black;
    text-decoration: none;
}
.choice > a:hover {
    color: lightblue;
}

div.menu {
    z-index: 10;
    position: fixed;
    left: 3%;
    top: 50%;
    transform: translateY(-50%) rotate(180deg);
}

.choice { display: none }
div.menu:hover { height: 100%; }
div.menu:hover .choice { display: initial; }
div.menu:hover .header  { display: none; }


.vertical-rl {
    writing-mode: vertical-rl;
}

html, body {
    position: fixed;
    overflow: scroll;
    padding: 0;
    margin: 0;
    width: 100%;
    font-family: georgia;
    height: 100%;
    max-width: 100%;
}


.p-3 {
    padding: 3vw  5vw;
}

.p-2 {
    padding: 2vw 5vw;
}

.p-1 {
    padding: 1vw 5vw;
}

.p-0 {
    padding: 0;
}

.pos-right {
    right: 0;
}

.pos-left {
    left: 0;
}

.top {
    top: 0;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.inline-block {
    display: inline-block;
}

.pointer {
    cursor: pointer;
}


.fixed {
    position: fixed;
}

.absolute {
    position: absolute;
}

.relative {
    position: relative;
}

.scroll {
    overflow: scroll;
}

.h-100 {
    height: 100%;
}

.w-100 {
    width: 100%;
}

.lightblue {
    background: lightblue;
}

.lightgray {
    background: #f6f6f6;
}

.button {
    font-family: Georgia;
    font-size: 100%;
    padding: 1vw 2vw;
    border-radius: 0.5em 0.5em;
    border: solid thin lightblue;
}

.button:hover {
    border: solid thin lightblue;
    background: lightblue;
}
.button:active {
    border: solid thin lightgray;
}

a.button {
    display: block;
}



.flex-column {
  display: flex;
  flex-flow: column;
  height: 100vh;
}

.flex-column .pad-top {
  flex: 0 1 calc(5vw + 1.5em);
  min-height: calc(5vw + 1.5em);
  background: rgba(255, 255, 255, 0.5);
}

.flex-column .holder {
  flex: 1 1 auto;
}

.flex-column .footer {
  flex: 0 1 auto;
  background: #f6f6f6;
}

.prop-bar {
    float: left;
    padding: 0;
    margin: 0;
    background: lightblue;
}

.prop-text {
    position: relative;
    width: 90vw;
    padding: 0.5vw 5vw;
}

.holder {
    padding: 0vh 5vw 0vh 7vw;
    position: relative;
    width: 88%;
}

.word {
    margin: 0.8vh 0;
    background: #f6f6f6;
    font-size: 85%;
}

.w-text  {
    position: relative;
    padding: 0.6vh 1vw;
    width: 20vw;
}

.w-prop {
    float: right;
    padding: 0.6vh 1vw;
}

.flex-column .chart {
  flex: 0 1 auto;
}

.flex-column .docs {
  flex: 1 1 auto;
}




.doc {
    font-size: 85%;
}

table { border-spacing: 0 0.8vh; }

/* must sum to 63vw which 
   is the width of the container */
.d-date { width: 11vw; } 
.d-name { width: 35vw; }
.d-token { width: 6vw; }
/* .d-count { width: 20%; } */
.d-text {
    width: 11vw;
    padding: 0.6vh 1vw;
}


.title {
    position: absolute;
    left : 5vw;
    top   : 5.25vh;
}
input {
    font-family: georgia;
    font-size: 100%;
    position: absolute;
    right : 5vw;
    top   : 4.25vh;
    width : 5vw;
    display: inline-block;
    padding: 1vh 2.5vw;
    border-radius: 0.5em 0.5em;
    border: solid thin lightgray;
    transition: 0.2s;
    text-align: center;
}

input:focus {
    width: 8vw;
    transition: 0.2s;
}

.id-item {
    font-size: 80%;
    display: inline-block;
    padding: 0.6vh 0.8vw;
    margin:  0.4vh 0.2vw;
    width: 3.2em;
    text-align: center;
    background: lightblue;
    border-radius: 0.5em 0.5em;
    cursor: pointer;

}

.id-item:hover {
    background: lightblue;
    opacity: 0.6;
}   